<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add BuddyInfo</title>
</head>
<body>
    <h1>Add BuddyInfo Form</h1>
    <form action="#" th:action="@{/viewBuddyInfo}" method="post">
        <p>AddressBookID: <input type="text" name="addressId" /></p>
        <p>BuddyID: <input type="text" name="buddyId" /></p>
        <p>Name: <input type="text" name="name" /></p>
        <p>Phone Num: <input type="text" name="phoneNum" /></p>
        <p><input type="submit" value="Submit" /></p>
    </form>
</body>
</html>