<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>BuddyInfoView</title>
</head>
<body>
<h1>BuddyInfo:</h1>
  <table>
    <tr>
      <th>AddressBook ID</th>
      <th>NAME</th>
      <th>Buddy ID</th>
      <th>PHONE NUMBER</th>
    </tr>
    <tr th:each="buddy : ${addressBook.getBuddyAddressBook()}">
      <td th:text="${addressBook.getID()}"></td>
      <td th:text="${buddy.getName()}"></td>
      <td th:text="${buddy.getID()}"></td>
      <td th:text="${buddy.getPhoneNumber()}"></td>
    </tr>
  </table>
  <a href="/addAddressBook">Add AddressBook</a>
  <a href="/addBuddyInfoView">Add BuddyInfo</a>
</body>
</html>