<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AddressBookView</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="help.js"></script>
</head>
<body>
    <table>
        <tr th:each="addressBook: ${listAB}">
            <td th:text="'Addressbook ID: ' +${addressBook.getID()}"></td>
            <td>
                <a th:href="@{'/getBuddyInfoView?id=' +${addressBook.getID()}}">view</a>
            </td>
        </tr>
    </table>
    <a href="/addAddressBook">Add AddressBook</a>
    <a href="/addBuddyInfoView">Add BuddyInfo</a>
</body>
</html>